<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "BeerHunt", root_path, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "About", page_path("about") %></li>
        <li><%= link_to "Sour Beer 101", page_path("sour_beer_101") %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
          <li><%= image_tag(current_user.image_url, class: "img-circle")%></li>
        <% else %>
          <li><a data-toggle="modal" data-target="#loginModal" href="#">Login</a></li>
        <% end %>
        <!-- <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li> -->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<%= render partial: "shared/login_modal" %>

