<%= simple_form_for(beer, html: { class: "add-beer-form" }) do |form| %>
  <div class="beer-image">
    <%= form.cl_image_upload(:image_id, html: { id: "image-upload" }) %>
    <label for="image-upload" class="btn btn-primary btn-image-upload">Choose Image to Upload ...</label>
    <div class="progress hide">
      <div class="progress-bar" role="progressbar" aria-valuenow="70"
        aria-valuemin="0" aria-valuemax="100" style="width:0%">
        </div>
    </div>
    <div class="preview-image"></div>
  </div>
  <div class="beer-info">
    <div class="name-brewery-abv">
      <%= form.input :name %>
      <%= form.input :brewery %>
      <%= form.input :abv %>
    </div>
    <div class="description">
      <%= form.input :description %>
    </div>
    <div class="submit-button">
      <%= form.button :submit, "Add Beer", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
