<div class="panel panel-default beer-panel">
  <div class="col-1">
    <div class="beer-panel-img">
      <%= link_to beer_path(beer) do %>
        <%= cl_image_tag(beer.image_id, :crop => :fill, :width => 160, :height => 160) %>
      <% end %>
      <p>Photo: </p>
    </div>
  </div>
  <div class="col-2">
    <div class="beer-panel-content">
      <div class="beer-panel-info">
        <%= link_to beer_path(beer) do %>
          <h3 class="beer-panel-header"><%= beer.brewery %> - <%= beer.name %></h3>
        <% end %>
        <p><%= truncate(beer.description, length: 140) %> <%= link_to "read more", beer_path(beer) %></p>
        <%= render partial: "action_buttons", locals: { beer: beer } %>
      </div>
    </div>
  </div>
</div>

