<div class="beer-info">
  <div class="beer-img">
    <%= cl_image_tag(beer.image_id, :crop => :fill, :width => 250, :height => 250) %>
    <%= render partial: "action_buttons", locals: { beer: beer } %>
  </div>
  <div class="beer-details">
    <% if current_user && current_user.admin? %>
      <%= render partial: "edit_beer_icons", locals: { beer: beer } %>
    <% end %>
    <h3><%= beer.name %></h3>
    <h4>Brewery: <%= beer.brewery %></h4>
    <h5>ABV: <%= beer.abv %></h5>
    <p><%= beer.description %></p>
    <p>Photo: </p>
  </div>
</div>
