<div class="panel-body">
  <div class="row">
    <div class="image-container col-md-2">
      <%= cl_image_tag(beer.image_id, :crop => :fill, :width => 140, :height => 100) %>
      <div class="action-buttons">
        <div class="button-container">
          <div class="like-btn-container" id="like-beer-<%= beer.id %>">
            <%= render partial: "like_beer", locals: { beer: beer } %>
          </div>
          <%= link_to beer_path(beer), class: "comment-btn btn btn-default" do %>
            <%= fa_icon "comment-o "%>
            <span class="comment-count"><%= beer.comments.count %></span>
          <% end %>
        </div>
      </div>
    </div>
    <% if current_user && current_user.admin? %>
      <%= render partial: "edit_beer_icons", locals: { beer: beer } %>
    <% end %>
    <div id="beer-<%= beer.id %>-info" class="col-md-10">
      <%= render partial: "beer_info", locals: { beer: beer } %>
    </div>
  </div>
</div>
