<div id="beer-<%=beer.id %>" class="panel panel-default beer-panel">
  <div class="col-1">
    <div class="beer-panel-img">
      <%= cl_image_tag(beer.image_id, :crop => :fill, :width => 160, :height => 160) %>
      <p>Photo: </p>
    </div>
  </div>
  <div class="col-2">
    <div class="beer-panel-content">
      <% if current_user && current_user.admin? %>
        <%= render partial: "edit_beer_icons", locals: { beer: beer } %>
      <% end %>
      <div class="beer-panel-info">
        <h3><%= beer.brewery %> - <%= beer.name %></h3>
        <p><%= truncate(beer.description, length: 100) %></p>
        <div class="beer-panel-action-buttons">
          <div class="like-button" id="like-beer-<%= beer.id %>">
            <%= render partial: "like_beer", locals: { beer: beer } %>
          </div>
          <div class="comment-button">
            <%= link_to beer_path(beer), class: "btn btn-default" do %>
              <%= fa_icon "comment-o "%>
              <span class="comment-count"><%= beer.comments.count %></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

