<!DOCTYPE html>
<html>
<head>
  <title>Beer Hunt</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= cloudinary_js_config %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "shared/nav" %>
  <div class="content container">
    <% flash.each do |key, value| %>
      <div class="flash"><%= value %></div>
    <% end %>
    <%= yield %>
  </div>
  <%= render "shared/footer" %>
</body>
</html>
